main{
  display: block;
  height: 100%;
  background-color: #fbfaff;
  width: calc(100% - 300px);
}

main .main-content{
  padding: 30px;
  width: 100%;
  height: calc(100%-90px);
  overflow-y: auto;
}

.main-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.main-content .panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px 0;
}

.panel-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.panel-50{
  width: 48%;
}

.panel-row button{
  height: 180px;
  font-size: 22px;
  color: #fff;
  background-color: darkblue;
}

.panel-row button:hover{
  transform: scale(1.05);
  transition: 0.2s;
}