@import 'reset.css';
@import 'header.css';
@import 'main.css';

div.flex-dashboard{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
sidebar{
  display: block;
  height: 100%;
  width: 300px;
  background-color: #fff;
}


sidebar .sidebar-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px; 
  height: 90px;
  border: 1px solid rgba(0,0,0,.0625);
  border-right: 0px;
}

sidebar .sidebar-title h2{
  font-size: 16px;
  margin-top: 8px;
  color: darkblue;
}

div.menu{
  border-right: 1px solid rgba(0,0,0,.0625);;
}

div.menu ul{
  list-style-type:  none;
  margin: 0;
  padding: 0;
}

div.menu ul li{
  padding: 20px 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.menu ul li svg{
  color: darkblue;
  font-size: 25px;
}

div.menu ul li a{
  color: darkblue;
  margin-left: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

div.menu ul li a:hover{
  color: #030014; 
}