<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/plugins/font-awesome/css/all.min.css">
  <!--<script src="/scripts/script.js"></script>-->
  <title>Dashboard</title>
</head>

<body>
  <div class="flex-dashboard">
    <sidebar>
      <div class="sidebar-title">
        <h2>Calc Dashboard</h2>
      </div>
      <div class="menu">
        <ul>
          <li><a href="/index.html"><i class="fa-solid fa-house"></i> Home</a></li>
          <li><a href="views/gerenciarIndicadores.html"><i class="fa-solid fa-pen-to-square"></i> Gerenciar
              indicadores</a></li>
          <li><a href=""><i class="fa-solid fa-user"></i> Quem Somos</a></li>
          <li><a href=""><i class="fa-solid fa-at"></i> Fale Conosco</a></li>
        </ul>
      </div>
    </sidebar>
    <main>
      <header>
        <a href="/index.html"><i class="fa-solid fa-chart-line"></i> Dashboard</a>
      </header>
      <div class="main-content">
        <div class="panel-row">
          <button class="panel panel-50">Incluir indicador</button>
          <button class="panel panel-50">Vizualizar indicadores</button>

        </div>
        <div class="content" id="ajax-content"></div>
      </div>
    </main>
  </div>
  <footer>
    <p>Desenvolvido por Talita de Freitas Silva</p>
  </footer>
  <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="/plugins/font-awesome/js/all.min.js"></script>
</body>

</html>